// This file contains values and classes specific to XWiki (http://www.xwiki.org)
// --------------------------------------------------

// XWiki ColorTheme Mapping ===================================================

@theme-pageBackgroundColor:            #F5F5F5; // VALUE: $theme.pageBackgroundColor;
@theme-pageContentBackgroundColor:     #FFFFFF; // VALUE: $theme.pageContentBackgroundColor;
@theme-backgroundSecondaryColor:       #F3F3F3; // VALUE: $theme.backgroundSecondaryColor;

@theme-textColor:                      #636B75; // VALUE: $theme.textColor;
@theme-textSecondaryColor:             #9F9F9F; // VALUE: $theme.textSecondaryColor;
@theme-titleColor:                     #2173AF; // VALUE: $theme.titleColor;
@theme-borderColor:                    #E8E8E8; // VALUE: $theme.borderColor;
@theme-linkColor:                      #0089DC; // VALUE: $theme.linkColor;
@theme-highlightColor:                 #FFFFDD; // VALUE: $theme.highlightColor;

@theme-menuBackgroundColor:            #0272A6; // VALUE: $theme.menuBackgroundColor;
@theme-menuLinkColor:                  #F3F3F3; // VALUE: $theme.menuLinkColor;

@theme-menuContentBackgroundColor:     #E1E1E1; // VALUE: $theme.menuBackgroundColor;
@theme-menuContentLinkColor:           #4D5860; // VALUE: $theme.menuBackgroundColor;

@theme-buttonPrimaryBackgroundColor:   #2173AF; // VALUE: $theme.buttonPrimaryBackgroundColor;
@theme-buttonPrimaryTextColor:         #FFFFFF; // VALUE: $theme.buttonPrimaryTextColor;

@theme-buttonSecondaryBackgroundColor: #E1E1E1; // VALUE: $theme.buttonSecondaryBackgroundColor;
@theme-buttonSecondaryTextColor:       #4D5860; // VALUE: $theme.buttonSecondaryTextColor;

@theme-notificationInfoColor:          #336699; // VALUE: $theme.notificationInfoColor;
@theme-notificationSuccessColor:       #008000; // VALUE: $theme.notificationSuccessColor;
@theme-notificationWarningColor:       #D09000; // VALUE: $theme.notificationWarningColor;
@theme-notificationErrorColor:         #CC3333; // VALUE: $theme.notificationErrorColor;

// General ====================================================================

.clearfloats:extend(.clearfix all) {}

.placeholder(@color: @theme-textSecondaryColor);

/* For browsers that don't support the placeholder attribute. */
input[type="text"].empty {
  color: @theme-textSecondaryColor !important;
}

// Typography =================================================================

// Buttons ====================================================================

input.button, .buttonwrapper button, .buttonwrapper a {
  .btn;
  .btn-primary;
}

.buttonwrapper input.secondary, .buttonwrapper button.secondary, .buttonwrapper a.secondary {
  .btn-default;
}

.buttonwrapper a {
  display: inline; // Making buttons and links look the same
}

// Tables =====================================================================

// Forms ======================================================================

// Containers =================================================================