// This file contains values and classes specific to XWiki (http://www.xwiki.org)
// XWiki-Layout: defines how main containers are arranged
// ----------------------------------------------------------------------------

// VIEW Layout ================================================================

#contentcontainer {
  &.content {
    #leftPanels {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-3);
      &:extend(.col-lg-3);
    }
    #contentcolumn {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-6);
      &:extend(.col-md-offset-3);
      &:extend(.col-lg-6);
      &:extend(.col-lg-offset-3);
    }
    #rightPanels {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-3);
      &:extend(.col-md-offset-9);
      &:extend(.col-lg-3);
      &:extend(.col-lg-offset-9);
    }
  }

  &.contenthideleft {
    #contentcolumn {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-9);
      &:extend(.col-lg-9);
    }
    #rightPanels {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-3);
      &:extend(.col-md-offset-9);
      &:extend(.col-lg-3);
      &:extend(.col-lg-offset-9);
    }
  }

  &.contenthideright {
    #leftPanels {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-3);
      &:extend(.col-lg-3);
    }
    #contentcolumn {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-9);
      &:extend(.col-md-offset-3);
      &:extend(.col-lg-9);
      &:extend(.col-lg-offset-3);
    }
  }

  &.contenthidelefthideright {
    #contentcolumn {
      &:extend(.col-xs-12);
      &:extend(.col-sm-12);
      &:extend(.col-md-12);
      &:extend(.col-lg-12);
    }
  }
}

@media (min-width: @screen-md) {
#contentcontainer {
    position: relative;
    &.content {
      #leftPanels, #rightPanels {
        position: absolute;
      }
    }
    &.contenthideleft {
      #rightPanels {
        position: absolute;
      }
    }
    &.contenthideright {
      #leftPanels {
        position: absolute;
      }
    }
  }
}

// EDIT Layout ================================================================

#xwikieditor {
  position: relative;
  .leftsidecolumns {
    &:extend(.col-xs-12);
    &:extend(.col-sm-12);
    &:extend(.col-md-9);
    &:extend(.col-lg-9);
  }
  #editPanels {
    position: absolute;
    &:extend(.col-xs-12);
    &:extend(.col-sm-12);
    &:extend(.col-md-3);
    &:extend(.col-md-offset-9);
    &:extend(.col-lg-3);
    &:extend(.col-lg-offset-9);
  }
}

// Paddings ===================================================================

@padding-grid-vertical:          @grid-gutter-width / 2;
@padding-grid-horizontal:        @grid-gutter-width / 2;

.padding-grid { // Used to align to grid
  padding: @padding-grid-vertical @padding-grid-horizontal;
}

.padding-container { // Used for layout containers
  padding: @padding-grid-vertical @grid-gutter-width;
}

#contentcontainer, #edit {
  padding: @padding-grid-vertical 0; // The horizontal values are given by #contentcolumn, #leftPanels and #rightPanels
  margin: 0 -@padding-grid-horizontal;
}

#footerglobal {
  padding: 0 @padding-grid-horizontal; // Align with #contentcontainer grid columns
}

.xwikitabbar {
  padding-left: @padding-grid-horizontal; // Leave a left space before displaying the tabs
}

#mainContentArea, #mainEditArea,
#xdocFooter,
#docextrapanes {
  .padding-container;
}

.xwikipanelcontents {
  .padding-grid;
}

#globallinks { // Align it with the panels
  &:extend(.col-md-3);
  &:extend(.col-lg-3);
  .padding-grid;
  .globalsearch {
    padding-left: 2 * @padding-base-horizontal;
  }
  #headerlanguages {
    padding-top: @padding-base-vertical;
  }
}
